
.ce-search-scholarship
{
    .ce-scholarship-search-form-row
    {
       background-color: $main-bg;
       border: 1px solid $main-border-color;
       border-width: thin;
       border-radius: 5px;
    }
}