
// Main Navigation Bar
.navbar
{
    .ce-container-inside-navbar
    {
        @media (max-width: 991px)
        {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }

    .navbar-brand
    {
        img.ce-csscholarship-logo
        {
            height: 6rem;
            width: 7.3rem;
        }
    }

    .navbar-collapse
    {
        .btn {
            border-radius: 0;
        }
        
        .ce-nav-top-row
        {
            img.ce-social-icon
            {
                max-height: 3rem; 
            }

            .ce-applicant-counter
            {
                color: #009ece;
                font-size: 1.3rem;
                font-weight: bold;

                .ce-counter 
                {
                    font-size: 2rem;
                    margin-top: -1rem;
                    margin-bottom: -0.7rem;
                }
            }
        }

        .navbar-nav
        {
            a
            {
                &.btn.ce-btn-navbar
                {
                    
                    background-color: grey;
                    color: #fff;
                    font-size: 1.3em;
                    font-weight: bold;

                    &:hover
                    {
                        background-color: #325923;
                    }
                    
                    &.active
                    {
                        background-color: #325923;
                    }
                }
            }
        }

    }
}