/**
  * Main Carousel Row
  */
.ce-main-carousel-row
{
    .swiper-slide
    {
        overflow: hidden;
        max-height: 37rem;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

/**
  * University Carousel Row
  */
.ce-university-carousel-row
{
    .swiper-slide
    {
        overflow: hidden;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .ce-university-name-box
        {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: #fff;
            width: 100%;
            height: 30%;
            bottom: 0;
        }
    }
}

/**
  * Scholarship Search Form
  */
.ce-scholarship-search-form-row
{
    display: none;
}

/**
  * Scholarship Search Results
  */
.ce-sholarship-search-results-row
{
    .btn
    {
        min-width: 10rem;
    }
}

/**
  * Comment Carousel and Applying Steps Wrapper
  */
.ce-comment-carousel-and-applying-steps-wrapper
{
    background-image: url("/images/wall.jpg");
}


/**
  * Comment Carousel Row
  */
.ce-comment-carousel-row
{
    .ce-swiper-container-bg-color
    {
        background-color: rgba($color: #000000, $alpha: 0.5);

        .swiper-container
        {
            width: 100%;
            height: 20rem;
    
            .swiper-slide
            {
                background-color: grey;
                overflow: hidden;
    
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }

            .card
            {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;

                .ce-card-image
                {
                    height: 25%;

                    img
                    {
                        height: 100%;
                    }
                }
            }
        }
    }
}


/**
  * Applying Steps Row
  */
.ce-applying-steps-row
{
}